html, body, .container-fluid, #map, .row { height: 100%; }

#map { width: 70%;}

#header {
	position: absolute;
	left: 60%;
	top: 5%;
}

svg {
  pointer-events: all;
}

circle {
  fill: #dbe4f0;
}

path {
  fill: #aaa;
  stroke: #fff;
}
