html, body, .container-fluid, #map-container, #information_pane { height: 100%; }

body {
    background-color: rgba(96, 115, 139, 0.72);
    overflow: hidden;
}

/*globe positioning
*/

#map-container {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left:-7.5px;
}

#map {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

/*tooltip for the map
*/

div.tooltip {
        color: #222;
        background-color: #fff;
        padding: .5em;
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        position: absolute;
    }

.locations, .barinplot {
  pointer-events: all;
}

/*modal positining styling
*/

.modal-dialog {
  width: 58.33333333%;
  height: 100%;
  float: right;
  margin: 0px;
}

.modal-content {
  height: 100%;
  padding-top: 45px;
  background-color: #FFF;
}

.modal-header {
  padding: 5px;
  margin-top: -45px;
  height: 45px;
  overflow: auto;
  font-size: 2.5vh; /*dynamic font resizing*/
  color: #333333;
  font-family: sans-serif;
  text-align: center;
}

.modal-body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px;
}

.modal-backdrop.in {
    opacity: 0;
}

/*#modal-main-view, #modal-secondary-view {
  width: 100%;
}*/

/*main view styling
*/

#imgdiv-container {
  height: 40%;
  padding: 5px;
  /*display: inline-block;*/
  /*max-height: 40%;*/
  /*object-fit: contain;*/
}

#imgdiv {
  max-height: 100%;
  top: 50%;
  transform: translateY(-50%);
  /*max-width: 50%;*/
  /*object-fit: contain;*/
  /*display: block;*/
  /*display: inline-block;*/
  /*padding: 100px;*/
  /*overflow: hidden;*/
}

.imgtext {
    text-anchor: end;
    fill: white;
}

#plotdiv {
  height: 50%;
}

#plot {
  width: 100%;
  height: 100%;
  top: 0;
}

#above_plot {
  height: 10%;
}

#annodiv {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#row_above_plot {
  height: 100%;
}

/*globe styling
*/

.water {
  fill: #EEE;
}

.land {
  fill: Gray;
}

/*styling div arrow up and down around the globe
*/

#modal-up {
  position: absolute;
  margin-left: -35px;
  margin-bottom: -70px;
  left: 50%;
}

#modal-down {
  position: absolute;
  margin-left: -35px;
  left: 50%;
  top: 100%;
  margin-top: -70px;
}

#left, #right {
  padding: 0px;
}

/*Glyphicon styling*/

.glyphicon.gray1 {
  color: LightGray;
}

.glyphicon.gray2 {
  color: Gray;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


/*Data source button styling*/

.btn-localdata {
  background-color: #41b6c4;
  border-color: #41b6c4;
}

.btn-localdata:hover {
  background-color: #2c7fb8;
  border-color: #2c7fb8;
}

.btn-globaldata {
  background-color: #253494;
  border-color: #253494;
}

.btn-globaldata:hover {
  background-color: #2c7fb8;
  border-color: #2c7fb8;
}

#imgsrcdiv {
  text-align: left;
}

/*Start button styling
*/

.btn-starttour {
  background-color: #607D8B;
  border-color: #607D8B;
}

.btn-starttour:hover {
  background-color: #2c7fb8;
  border-color: #2c7fb8;
}

/*styling of the information pane
*/


#title {
  position: absolute;
  width:90%;
  height: 14%;
  top: 6%;
  font-size: 2em;
  color: #FFF;
  display: table;
}

#title p {
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
}

#abstract {
  position: absolute;
  top: 22%;
  height: 45%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  width: 90%;
  color: #FFF;
  overflow: auto;
}

#start-tour-container {
  position: absolute;
  top: 72%;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  overflow: auto;
}


#media-icons {
  position: absolute;
  top: 87%;
  height: 10%;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  overflow: auto;
}

#github-icon {
  position: absolute;
  height: 15%;
  left: 70%;
  text-align: right;
  width: 30%;
  margin: 10px;
  overflow: auto;
}

#media-icons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

/* -- Liquid SVG and images -- */

.svg-container {
    display: inline-block;
    position: relative;
    text-align: center;
    /*width: 100%;*/
    padding-bottom: 0%; /* aspect ratio, depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */
    vertical-align: top; /* top | middle | bottom ... do what you want */
    overflow: auto;
}

.svg-content-responsive { /* svg into : object, img or inline */
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 0; /*10px;*/
    left: 0;
    width: 100%; /* only required for <img /> */
}

/*plot styling
*/

.activebar {
    fill: #6E6E6E !important;
};

.xlabel {
    font-size: 20px;
    font-weight: bold;
    fill: black;
}

#ylabell, .line-l, .yaxis-l {
  stroke: #41b6c4;
  fill: #41b6c4;
}

#ylabelg, .line-g, .yaxis-g {
  stroke: #253494;
  fill: #253494;
}

.yaxis-g {
    fill: none;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.yaxis-g text {
  font-size: 14px;
  stroke-width: 1px;
  fill: #253494;
}

.yaxis-l {
    fill: none;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.yaxis-l text {
  font-size: 14px;
  stroke-width: 1px;
  fill: #41b6c4;
}

.ylabel {
    font-size: 14px;
    /*font-weight: bold;*/
    cursor: pointer;
    stroke-width: 1px;
}

.xlabel {
    font-size: 20px;
    font-weight: bold;
    fill: black;
}

.xaxis-bottom {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.xaxis-bottom text {
  stroke: none;
  fill: black;
  font-size: 14px;
}

.line-l {
    fill: none;
    stroke-width: 2px;
}

.line-g {
  fill: none;
  stroke-width: 2px;
}

/*annotations*/

.annotation {
    font-size: 1.1em;
    color: black;
    font-family: sans-serif;
}

#anno_svg {
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

/*moreinfo*/

#moreinfodiv {
  text-align: left;
  margin-top: 10px; 
}
