/* glue: 0.11.1 hash: 5527431364 */
        .sprite-img-china_20121015,
.sprite-img-china_20150522 {
            background-image: url('img.png');
            background-repeat: no-repeat;
        }
        
        .sprite-img-china_20121015 {
            background-position: 0 0;
            width: 720px;
            height: 720px;
        }
        
        .sprite-img-china_20150522 {
            background-position: -720px 0;
            width: 720px;
            height: 720px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-img-china_20121015,
    .sprite-img-china_20150522 {
                background-image: url('img.png');
                -webkit-background-size: 1440px 720px;
                -moz-background-size: 1440px 720px;
                background-size: 1440px 720px;
            }
        }
        