html, body, .container-fluid, #map, #information_pane { height: 100%; }

/*.container-fluid {
  white-space:nowrap;
}*/

/*body.modal-open {
    overflow: hidden;
}*/

#map {
  padding: 10px;
}

.water {
  fill: LightGrey;
}

.land {
  fill: Gray;
}


/* -- Modal Stuff -- */
/*#myModal {
left:58%; 
min-width:400px;
}*/

#myModal{
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.modal-dialog {
  float: right;
  width: 40%;
  height: 100%;
}


/*.modal-content {
  height: 100%;
  width: 100%;
}*/

/*.modal-header {
  height: 30px;
}*/

/*.modal-body {
  height: 70%;
  overflow-y: auto;
}*/

/*.modal-footer {
  height:30px;
}*/


.modal-backdrop {
  background: none;
}

/* -- -- -- -- -- --*/

/* -- Styles orignally defined for info inside modal -- */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    /* stroke: black; */
    stroke-width: 3px;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: start;
}

/* -- -- -- -- -- --*/

