/* glue: 0.11.1 hash: 0d274c498e */
        .sprite-athabasca-athabasca_etm_20000913,
.sprite-athabasca-athabasca_tm5_19840723,
.sprite-athabasca-athabasca_tm5_19850928,
.sprite-athabasca-athabasca_tm5_19860814,
.sprite-athabasca-athabasca_tm5_19870918,
.sprite-athabasca-athabasca_tm5_19880904,
.sprite-athabasca-athabasca_tm5_19890806,
.sprite-athabasca-athabasca_tm5_19900724,
.sprite-athabasca-athabasca_tm5_19910727,
.sprite-athabasca-athabasca_tm5_19920713,
.sprite-athabasca-athabasca_tm5_19930817,
.sprite-athabasca-athabasca_tm5_19940726,
.sprite-athabasca-athabasca_tm5_19950924,
.sprite-athabasca-athabasca_tm5_19960622,
.sprite-athabasca-athabasca_tm5_19970812,
.sprite-athabasca-athabasca_tm5_19980705,
.sprite-athabasca-athabasca_tm5_19990615,
.sprite-athabasca-athabasca_tm5_20010807,
.sprite-athabasca-athabasca_tm5_20020911,
.sprite-athabasca-athabasca_tm5_20030930,
.sprite-athabasca-athabasca_tm5_20040628,
.sprite-athabasca-athabasca_tm5_20051005,
.sprite-athabasca-athabasca_tm5_20060821,
.sprite-athabasca-athabasca_tm5_20070730,
.sprite-athabasca-athabasca_tm5_20080725,
.sprite-athabasca-athabasca_tm5_20090914,
.sprite-athabasca-athabasca_tm5_20101003,
.sprite-athabasca-athabasca_tm5_20110515 {
            background-image: url('athabasca.png');
            background-repeat: no-repeat;
        }
        
        .sprite-athabasca-athabasca_etm_20000913 {
            background-position: 0 0;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19840723 {
            background-position: -720px 0;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19850928 {
            background-position: 0 -480px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19860814 {
            background-position: -720px -480px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19870918 {
            background-position: 0 -960px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19880904 {
            background-position: -720px -960px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19890806 {
            background-position: -1440px 0;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19900724 {
            background-position: -1440px -480px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19910727 {
            background-position: -1440px -960px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19920713 {
            background-position: 0 -1440px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19930817 {
            background-position: -720px -1440px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19940726 {
            background-position: -1440px -1440px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19950924 {
            background-position: -2160px 0;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19960622 {
            background-position: -2160px -480px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19970812 {
            background-position: -2160px -960px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19980705 {
            background-position: -2160px -1440px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_19990615 {
            background-position: 0 -1920px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20010807 {
            background-position: -720px -1920px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20020911 {
            background-position: -1440px -1920px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20030930 {
            background-position: -2160px -1920px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20040628 {
            background-position: 0 -2400px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20051005 {
            background-position: -720px -2400px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20060821 {
            background-position: -1440px -2400px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20070730 {
            background-position: -2160px -2400px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20080725 {
            background-position: -2880px 0;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20090914 {
            background-position: -2880px -480px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20101003 {
            background-position: -2880px -960px;
            width: 720px;
            height: 480px;
        }
        
        .sprite-athabasca-athabasca_tm5_20110515 {
            background-position: -2880px -1440px;
            width: 720px;
            height: 480px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-athabasca-athabasca_etm_20000913,
    .sprite-athabasca-athabasca_tm5_19840723,
    .sprite-athabasca-athabasca_tm5_19850928,
    .sprite-athabasca-athabasca_tm5_19860814,
    .sprite-athabasca-athabasca_tm5_19870918,
    .sprite-athabasca-athabasca_tm5_19880904,
    .sprite-athabasca-athabasca_tm5_19890806,
    .sprite-athabasca-athabasca_tm5_19900724,
    .sprite-athabasca-athabasca_tm5_19910727,
    .sprite-athabasca-athabasca_tm5_19920713,
    .sprite-athabasca-athabasca_tm5_19930817,
    .sprite-athabasca-athabasca_tm5_19940726,
    .sprite-athabasca-athabasca_tm5_19950924,
    .sprite-athabasca-athabasca_tm5_19960622,
    .sprite-athabasca-athabasca_tm5_19970812,
    .sprite-athabasca-athabasca_tm5_19980705,
    .sprite-athabasca-athabasca_tm5_19990615,
    .sprite-athabasca-athabasca_tm5_20010807,
    .sprite-athabasca-athabasca_tm5_20020911,
    .sprite-athabasca-athabasca_tm5_20030930,
    .sprite-athabasca-athabasca_tm5_20040628,
    .sprite-athabasca-athabasca_tm5_20051005,
    .sprite-athabasca-athabasca_tm5_20060821,
    .sprite-athabasca-athabasca_tm5_20070730,
    .sprite-athabasca-athabasca_tm5_20080725,
    .sprite-athabasca-athabasca_tm5_20090914,
    .sprite-athabasca-athabasca_tm5_20101003,
    .sprite-athabasca-athabasca_tm5_20110515 {
                background-image: url('athabasca.png');
                -webkit-background-size: 3600px 2880px;
                -moz-background-size: 3600px 2880px;
                background-size: 3600px 2880px;
            }
        }
        