/* glue: 0.11.1 hash: 6792724ed0 */
        .sprite-snow_pack-sierranevada_amo_2012097,
.sprite-snow_pack-sierranevada_tmo_2006085,
.sprite-snow_pack-sierranevada_tmo_2007093,
.sprite-snow_pack-sierranevada_tmo_2008094,
.sprite-snow_pack-sierranevada_tmo_2009091,
.sprite-snow_pack-sierranevada_tmo_2010085,
.sprite-snow_pack-sierranevada_tmo_2011090,
.sprite-snow_pack-sierranevada_tmo_2013088,
.sprite-snow_pack-sierranevada_tmo_2014096,
.sprite-snow_pack-sierranevada_tmo_2015090,
.sprite-snow_pack-sierranevada_tmo_2016093 {
            background-image: url('snow_pack.png');
            background-repeat: no-repeat;
        }
        
        .sprite-snow_pack-sierranevada_amo_2012097 {
            background-position: 0 0;
            width: 720px;
            height: 720px;
        }
        
        .sprite-snow_pack-sierranevada_tmo_2006085 {
            background-position: -720px 0;
            width: 720px;
            height: 720px;
        }
        
        .sprite-snow_pack-sierranevada_tmo_2007093 {
            background-position: 0 -720px;
            width: 720px;
            height: 720px;
        }
        
        .sprite-snow_pack-sierranevada_tmo_2008094 {
            background-position: -720px -720px;
            width: 720px;
            height: 720px;
        }
        
        .sprite-snow_pack-sierranevada_tmo_2009091 {
            background-position: -1440px 0;
            width: 720px;
            height: 720px;
        }
        
        .sprite-snow_pack-sierranevada_tmo_2010085 {
            background-position: -1440px -720px;
            width: 720px;
            height: 720px;
        }
        
        .sprite-snow_pack-sierranevada_tmo_2011090 {
            background-position: 0 -1440px;
            width: 720px;
            height: 720px;
        }
        
        .sprite-snow_pack-sierranevada_tmo_2013088 {
            background-position: -720px -1440px;
            width: 720px;
            height: 720px;
        }
        
        .sprite-snow_pack-sierranevada_tmo_2014096 {
            background-position: -1440px -1440px;
            width: 720px;
            height: 720px;
        }
        
        .sprite-snow_pack-sierranevada_tmo_2015090 {
            background-position: -2160px 0;
            width: 720px;
            height: 720px;
        }
        
        .sprite-snow_pack-sierranevada_tmo_2016093 {
            background-position: -2160px -720px;
            width: 720px;
            height: 720px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-snow_pack-sierranevada_amo_2012097,
    .sprite-snow_pack-sierranevada_tmo_2006085,
    .sprite-snow_pack-sierranevada_tmo_2007093,
    .sprite-snow_pack-sierranevada_tmo_2008094,
    .sprite-snow_pack-sierranevada_tmo_2009091,
    .sprite-snow_pack-sierranevada_tmo_2010085,
    .sprite-snow_pack-sierranevada_tmo_2011090,
    .sprite-snow_pack-sierranevada_tmo_2013088,
    .sprite-snow_pack-sierranevada_tmo_2014096,
    .sprite-snow_pack-sierranevada_tmo_2015090,
    .sprite-snow_pack-sierranevada_tmo_2016093 {
                background-image: url('snow_pack.png');
                -webkit-background-size: 2880px 2160px;
                -moz-background-size: 2880px 2160px;
                background-size: 2880px 2160px;
            }
        }
        