html, body, .container-fluid, #map-container, #information_pane { height: 100%; }

body {
    background-color: rgba(96, 115, 139, 0.72);
    overflow: hidden;
}

.container-fluid{
  overflow: hidden;
}

#title {
	position: absolute;
	width:90%;
	height: 15%;
	top: 10%;
	margin: 0 auto;
	text-align: center;
	overflow: scroll;
  font-size: 30px;
  color: #FFF;
}

#abstract {
	position: absolute;
	top: 30%;
	height: 30%;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	overflow: scroll;
  color: #FFF;
}

#start-tour-container {
	position: absolute;
	top: 65%;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	overflow: scroll;
}

/*Start button styling
*/

.btn-starttour {
  background-color: #607D8B;
  border-color: #607D8B;
}

.btn-starttour:hover {
  background-color: #2c7fb8;
  border-color: #2c7fb8;
}

/*Data source button styling*/

.btn-localdata {
  background-color: #41b6c4;
  border-color: #41b6c4;
}

.btn-localdata:hover {
  background-color: #2c7fb8;
  border-color: #2c7fb8;
}

.btn-globaldata {
  background-color: #253494;
  border-color: #253494;
}

.btn-globaldata:hover {
  background-color: #2c7fb8;
  border-color: #2c7fb8;
}

#imgsrcdiv {
  text-align: left;
}

/*Main page icons/*
*/

#media-icons {
	position: absolute;
	top: 85%;
	height: 15%;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	overflow: scroll;
}

#github-icon {
	position: absolute;
	height: 15%;
	left: 70%;
  text-align: right;
	width: 30%;
	overflow: scroll;
}

#media-icons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

/*styling of globe
*/

#map {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.water {
  fill: #EEE;
}

.land {
  fill: Gray;
}

/*styling modal
*/

#imgdiv, #plotdiv {
	height: 50%;
}

.modal-backdrop.in {
    opacity: 0;
}

.btn-modal { 
	display: inline-block; 
    position: absolute;
    left: 97%;
  }

#myModal{
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.modal-dialog {
  width: 58.33333333%;
  height: 100%;
  float: right;
  margin: 0px;
}

.modal-content {
  height: 100%;
  padding-top: 45px;
  background-color: #FFF;
}

.modal-header {
  padding: 5px;
  margin-top: -45px;
  height: 45px;
  overflow: scroll;
}

.modal-body {
  height: 100%;
  overflow-y: scroll;
  padding: 5px;
}

/* -- Liquid SVG and images -- */

.svg-container {
    display: inline-block;
    position: relative;
    text-align: center;
    /*width: 100%;*/
    padding-bottom: 0%; /* aspect ratio, depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */
    vertical-align: top; /* top | middle | bottom ... do what you want */
    overflow: hidden;
}

.svg-content-responsive { /* svg into : object, img or inline */
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 0; /*10px;*/
    left: 0;
    width: 100%; /* only required for <img /> */
}

.sidebysideimage {
    max-width: 50%; /*this makes the two side by side before and after sat images take up half the width of the div container they are in each*/
    max-height: 100%;
}

#plot {
	max-height: 100%;
}

/*style for plot
*/


#ylabell, .line-l, .yaxis-l {
  stroke: #41b6c4;
  fill: #41b6c4;
}

#ylabelg, .line-g, .yaxis-g {
  stroke: #253494;
  fill: #253494;
}

.xaxis-bottom {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.xaxis-bottom text {
  stroke: none;
  fill: black;
  font-size: 30px;
}

.yaxis-g {
    fill: none;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.yaxis-g text {
  font-size: 30px;
}

.yaxis-l {
    fill: none;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.yaxis-l text {
  font-size: 30px;
}

/*.axis text {
  font-size: 40px;
}*/

.line-l {
    fill: none;
    stroke-width: 5px;
}

.line-g {
  fill: none;
  stroke-width: 5px;
}

#instructions {
    font-size: 25px;
    color: black;
    font-family: sans-serif;
    text-anchor: middle;
}

.annotation {
    font-size: 25px;
    color: black;
    font-family: sans-serif;
}

.title-modal {
    font-size: 40px;
    font-size: 2vw; /*dynamic font resizing*/
    color: #333333;
    font-family: sans-serif;
}

.ylabel {
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


.xlabel {
    font-size: 40px;
    font-weight: bold;
    fill: black;
}

#moreinfodiv {
    text-align: left;
}

.moreinfo {
    font-size: 100px;
    font-size: 1vw; /*dynamic font resizing*/
    color: black;
    font-family: sans-serif;
}


